* {
    box-sizing: border-box;
}


html {
    font-size: 100%;
    color: #FA5A5A;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

/* links */

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

/* navigation */

nav {
    height: 125px;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 700;
    font-size: 22px;   
    border: solid 1px #FA5A5A;
    background-color: white;
    
}

ul {
    list-style: none;
}

#navlogo {
    padding-left: 70px;
    padding-top: 40px;
}

.logo {
    width: 220px;
}

#navmenu {
    list-style: none;
    margin-top: -45px;
    display: flex;
    justify-content: center;
}

#navicons {
    text-align: right;
    margin-top: -50px;
    padding-right: 70px;
    
}

.icons {
    width: 140px;

}

li{
    padding-left: 30px;
    padding-right: 30px;
}

/* main content */


main {
   margin-top: 125px;
   text-align: center;
}

#section1 {
    padding-top: 30px;
    padding-bottom: 30px;
}
    
.hero {
    width: 1330px;
}

#section2, #section3 {
    display: flex;
    justify-content: space-between;
    width: 1330px;
    margin: auto;
    padding-bottom: 5px;
   grid-template-columns: 1fr 1fr;

}

.feature {
    width: 660px;
}

#section4 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    width: 100%;
}

