* {
    box-sizing: border-box;
}


html {
    font-size: 100%;
    color: #FA5A5A;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

/* links */

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

nav:hover {

}

/* navigation */

nav {
    height: 125px;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 700;
    font-size: 22px;
    border: solid 1px #FA5A5A;
    background-color: white;
    

}

ul {
    list-style: none;
}

#navlogo {
    padding-left: 70px;
    padding-top: 40px;
}

.logo {
    width: 220px;
}

#navmenu {
    list-style: none;
    margin-top: -45px;
    display: flex;
    justify-content: center;
}

#navicons {
    text-align: right;
    margin-top: -50px;
    padding-right: 70px;

}

.icons {
    width: 140px;

}

li {
    padding-left: 30px;
    padding-right: 30px;
}

/* main content */


#content {
    margin-top: 125px;
    text-align: center;
}

#section1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#feature2 {
    margin-top: -600px;
    padding-left: 660px;
    padding-bottom: 280px;

}

.herotext {
    width: 700px;
}

#feature3 {}

.hero {
    width: 1330px;
}

#section2,
#section3 {
    display: flex;
    justify-content: space-between;
    width: 1330px;
    margin: auto;
    padding-bottom: 5px;
    grid-template-columns: 1fr 1fr;

}

.feature {
    width: 660px;
}

#section4 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    width: 100%;
}

#popups {
    margin-top: -3130px;
}

#popup1 {
    padding-left: 500px;
    position: fixed;
    visibility: hidden;
}

#popup2 {
    padding-top: 330px;
    padding-left: 900px;
    visibility: hidden;
}

#popup3 {
    margin-top: -40px;
    padding-left: 300px;
    padding-bottom: 45px;
    visibility: hidden;
}

#popup4 {
    padding-top: 240px;
    padding-left: 900px;
    visibility: hidden;
}

#popup5 {
    padding-left:200px;
    visibility: hidden;
}

#popup6 {
    padding-top: 400px;
    text-align: center;
    visibility: hidden;
}

#popup7 {
    padding-top: 100px;
    padding-left: 600px;
    visibility: hidden;
}

#popup8 {
    padding-top: 200px;
    text-align: center;
    visibility: hidden;
}

.popup {
    width: 400px;
}

nav,
.hero,
.herotext,
.social,
.footer,
.feature:hover {
    cursor: pointer;
}



.expandContent1,
.expandContent2,
.expandContent3,
.expandContent4,
.expandContent5,
.expandContent6,
.expandContent7,
.expandContent8 {
    visibility: visible !important;
}
