* {
    box-sizing: border-box;
}


html {
    font-size: 100%;
    color: #E65656;
    font-style: normal;
    text-align: center;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

/* links */

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}


